$colorPrimary1: hsl(193, 38%, 86%);
$colorPrimary2: hsl(150, 100%, 66%);
$colorNeutral1: hsl(217, 19%, 38%);
$colorNeutral2: hsl(217, 19%, 24%);
$colorNeutral3: hsl(218, 23%, 16%);

$fontSize: 28px;
$fontMain: "Manrope", sans-serif;
$fontWeight: 800;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorNeutral3;

    main {
        position: relative;
        max-width: 550px !important;
        text-align: center;
        background-color: $colorNeutral2;
        border-radius: 1rem;
        padding: 3rem;
        h1 {
            font-size: 0.8rem;
            letter-spacing: 0.3rem;
            color: $colorPrimary2;
        }

        #adviceText {
            font-size: $fontSize;
            font-weight: 500;
            color: $colorPrimary1;
        }

        .hrContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $colorPrimary1;

            hr {
                width: 40%;
            }
            i {
                font-size: 2rem;
                width: 10%;
            }
        }

        #btnDice {
            cursor: pointer;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: box-shadow 0.5s;
            background-color: $colorPrimary2;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            width: 65px;
            font-size: 1.5rem;
            border: none;

            &:hover {
                animation: fa-spin 2s infinite linear;
                box-shadow: 0 0 20px 15px rgb(82, 255, 168, 0.5);
            }
        }
    }
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
